<nav>
  <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/customer/index">Products</a></li>
      <li><a href="/customer/booking">Services</a></li>
      <li><a href="/customer/history">Order History</a></li>
      <li><a href="/customer/cart" class="cart-link">
          <img src="/images/cart-icon.png" alt="Cart"> 
          <span>Cart</span>
      </a></li>
      <li><a href="/customer/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
</nav>