<nav>
  <ul>
      <li><a href="/manager/dashboard">
           Dashboard
      </a></li>
      <li><a href="/manager/users">
           User Management
      </a></li>
      <li><a href="/manager/services">
           User Profiles
      </a></li>
      <li><a href="/manager/orders">
           Orders & Bookings
      </a></li>
      <li><a href="/manager/payments">
           Payments
      </a></li>
      <li><a href="/manager/support">
           Support
      </a></li>
      <li><a href="/logout">
          Logout
     </a></li>
  </ul>
</nav>