
<nav class="navbar">
  <div class="brand">AutoCustomizer</div>
  <ul>
    <li><a href="/Seller/dashboard">Dashboard</a></li>
    <li><a href="/Seller/orders">Orders</a></li>
    <li><a href="/Seller/productmanagement">Product Management</a></li>
    <li><a href="/Seller/profileSettings">Profiles</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>