<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management</title>
    <link rel="stylesheet" href="/styles/bookingManagement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include("../partials/serviceHeaders") %>

    <div class="sidebar" id="sidebar">
        <!-- <a href="#" class="close-btn" onclick="toggleSidebar()">&times; Close</a> -->
        <a href="/service/dashboardService"><i class="fas fa-tachometer-alt"></i> </a>
        <a href="/service/profilSettings"><i class="fas fa-user-cog"></i> </a>
        <a href="/service/bookingManagement"><i class="fas fa-calendar-alt"></i> </a>
        <a href="/service/customerCommunication"><i class="fas fa-comments"></i></a>
        <a href="/service/earnings" class="active"><i class="fas fa-money-bill-wave"></i> </a>
        <a href="/service/reviews"><i class="fas fa-star"></i> </a>
    </div>

    <div class="order-container">
        <div class="order-header">
            <button class="tab active">Open</button>
            <button class="tab">Confirmed</button>
            <button class="tab">Ready</button>
            <button class="tab">Rejected</button>
        </div>

        <div class="filter-section">
            <input type="text" id="searchInput" placeholder="Search by Customer ID or Name" class="search-input">
            <select class="dropdown">
                <option>Newest Order Sent</option>
                <option>Oldest Order Sent</option>
            </select>
            <button class="filter-btn">Filter</button>
        </div>
        <table class="order-table">
            <thead>
                <tr>
                    <th></th>
                    <th>OrderId</th>
                    <th>Service</th>
                    <th>Customer Name</th>
                    <th>Customer Id</th>
                    <th>Amount</th>
                    <th>Order Sent</th>
                    <th>Order Expected</th>
                    <th>Staus</th>
                   
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="action-buttons">
            <button class="confirm-btn">✅ Confirm</button>
            <button class="reject-btn">❌ Reject</button>
        </div>
    </div>
    <script src="/scripts/bookingManagement.js"></script>
</body>
</html>
